Derive new column

In [3]:
import pandas as pd

COLS=['LENGTH', 'WIDTH', 'SIZE', 'CONC', 'CONC1',
    'ASYM', 'M3_LONG', 'M3_TRANS', 'ALPHA', 'DIST', 'CLASS']
X = pd.read_csv("..\..\.spool\datasets\\telescope2.csv", names=COLS, header=None)

y = X['CLASS'] == 'g'
X = X.drop(columns=['CLASS'])
X, y

(         LENGTH     WIDTH    SIZE    CONC   CONC1      ASYM   M3_LONG  \
 0       28.7967   16.0021  2.6449  0.3918  0.1982   27.7004   22.0110
 1       31.6036   11.7235  2.5185  0.5303  0.3773   26.2722   23.8238
 2      162.0520  136.0310  4.0612  0.0374  0.0187  116.7410  -64.8580
 3       23.8172    9.5728  2.3385  0.6147  0.3922   27.2107   -6.4633
 4       75.1362   30.9205  3.1611  0.3168  0.1832   -5.5277   28.5525
 ...         ...       ...     ...     ...     ...       ...       ...
 19015   21.3846   10.9170  2.6161  0.5857  0.3934   15.2618   11.5245
 19016   28.9452    6.7020  2.2672  0.5351  0.2784   37.0816   13.1853
 19017   75.4455   47.5305  3.4483  0.1417  0.0549   -9.3561   41.0562
 19018  120.5135   76.9018  3.9939  0.0944  0.0683    5.8043  -93.5224
 19019  187.1814   53.0014  3.2093  0.2876  0.1539 -167.3125 -168.4558

        M3_TRANS    ALPHA      DIST
 0       -8.2027  40.0920   81.8828
 1       -9.9574   6.3609  205.2610
 2      -45.2160  76.9600  256.7880
 3       -7.1513  10.4490  116.7370
 4       21.8393   4.6480  356.4620
 ...         ...      ...       ...
 19015    2.8766   2.4229  106.8258
 19016   -2.9632  86.7975  247.4560
 19017   -9.4662  30.2987  256.5166
 19018  -63.8389  84.6874  408.3166
 19019   31.4755  52.7310  272.3174

 [19020 rows x 10 columns],
 0         True
 1         True
 2         True
 3         True
 4         True
          ...
 19015    False
 19016    False
 19017    False
 19018    False
 19019    False
 Name: CLASS, Length: 19020, dtype: bool)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=0)
X_train, X_test, y_train, y_test

(        LENGTH    WIDTH    SIZE    CONC   CONC1     ASYM  M3_LONG  M3_TRANS  \
 6577   84.5375  31.1777  3.4894  0.1478  0.0744  21.4084  68.4071    4.6755
 11192  37.0734  19.0059  2.9006  0.2313  0.1201   4.5659  22.9140   -9.0980
 11353  46.7704  22.2937  3.2443  0.2450  0.1256  55.6421  40.0464  -18.1843
 6593   86.8639  21.8827  2.6320  0.4597  0.2672 -83.7883  30.8593    2.0393
 8550   24.4071   9.7823  2.4158  0.5067  0.3013  16.9043 -14.8797    4.8608
 ...        ...      ...     ...     ...     ...      ...      ...       ...
 9225   34.7527  16.3799  2.6212  0.2703  0.1376  21.9455  23.6607    7.2786
 13123  40.7440  16.0635  2.8145  0.3108  0.1668  15.8622  36.5069   -6.2138
 9845   35.8286  16.8952  2.8802  0.3070  0.1746  38.7674  17.2509   11.3048
 10799  20.0986  12.8671  2.4057  0.4558  0.2417  11.5039   9.7434    7.8750
 2732   27.2726  12.6129  2.7288  0.3978  0.2512 -10.4679 -17.5545   -9.9008

          ALPHA      DIST
 6577    6.7811  239.0400
 11192  20.7994  183.3890
 11353   3.2717  163.5200
 6593    2.0243  257.1210
 8550   15.6776  104.5760
 ...        ...       ...
 9225   16.5306  158.1200
 13123  13.3971  284.7751
 9845    0.4720  234.8680
 10799  21.6750  212.0980
 2732    3.7890  185.4310

 [17118 rows x 10 columns],
         LENGTH    WIDTH    SIZE    CONC   CONC1     ASYM  M3_LONG  M3_TRANS  \
 18152  17.1822  15.8933  2.4093  0.6648  0.3864 -16.4698  -3.1572   -3.9904
 2571   33.7228  18.2951  3.0639  0.2676  0.1394  32.5576  18.3456   -4.4196
 12202  61.3737  21.3660  3.2621  0.1816  0.1053  -2.9857  31.7738  -12.2608
 4508   20.0044  11.0652  2.2788  0.6737  0.4500  13.7202  19.7044   -9.9991
 14903  21.2509  10.8657  2.1847  0.5686  0.2843  14.7015  17.9440    7.8355
 ...        ...      ...     ...     ...     ...      ...      ...       ...
 4545   90.3632  29.9861  3.3990  0.1421  0.0732  21.1646  82.8020   21.3961
 11305  92.3969  32.0819  3.6056  0.2118  0.1154  -1.3479 -15.8949  -20.5296
 16613  16.6052  12.8367  2.4523  0.5075  0.2840 -23.7905  -6.9747    9.1413
 1644   27.4308  15.3788  2.6618  0.4423  0.2625   1.7847  -8.6385   -9.8991
 13699  29.1262   0.0000  2.4757  0.6488  0.3328  12.0398  12.6340   -0.0001

          ALPHA      DIST
 18152  66.9122   61.0713
 2571   11.0782   94.1792
 12202   0.9761  236.9240
 4508   59.4730  197.5840
 14903   7.1820  123.8400
 ...        ...       ...
 4545    3.8010  259.7330
 11305   2.9756  340.2600
 16613  37.2097  116.5518
 1644    9.3801  218.1190
 13699  70.8840  219.9770

 [1902 rows x 10 columns],
 6577      True
 11192     True
 11353     True
 6593      True
 8550      True
          ...
 9225      True
 13123    False
 9845      True
 10799     True
 2732      True
 Name: CLASS, Length: 17118, dtype: bool,
 18152    False
 2571      True
 12202     True
 4508      True
 14903    False
          ...
 4545      True
 11305     True
 16613    False
 1644      True
 13699    False
 Name: CLASS, Length: 1902, dtype: bool)