In [1]:
import pandas as pd
import random

Skip first 3 rows and read only 2 columns and 3 rows from a local CSV file

In [2]:
df  = pd.read_csv("../../../.spool/housing.csv",
    usecols=['longitude', 'latitude'],
    nrows=3,
    skiprows=[1, 2, 3])
df

   longitude  latitude
0    -122.25     37.85
1    -122.25     37.85
2    -122.25     37.85

Import 10% random rows of a local CSV file

In [3]:
df = pd.read_csv("..\..\..\.spool\housing.csv",
    skiprows=lambda i: i > 0 and random.random() > 0.10)
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
1,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
2,-122.28,37.85,41.0,535.0,123.0,317.0,119.0,2.4038,107500.0,NEAR BAY
3,-122.26,37.84,49.0,713.0,202.0,462.0,189.0,1.0250,118800.0,NEAR BAY
4,-122.28,37.82,52.0,945.0,243.0,576.0,220.0,1.4113,83100.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
2099,-121.92,38.57,10.0,1320.0,246.0,898.0,228.0,1.9327,193800.0,INLAND
2100,-121.57,39.16,21.0,1872.0,302.0,870.0,301.0,3.7250,84700.0,INLAND
2101,-121.59,39.10,24.0,1107.0,261.0,768.0,205.0,1.7167,48800.0,INLAND
2102,-121.54,39.08,23.0,1076.0,216.0,724.0,197.0,2.3598,57500.0,INLAND
2103,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND