Load CSV file into Pandas dataframe

In [4]:
import pandas as pd

COLS=['LENGTH', 'WIDTH', 'SIZE', 'CONC', 'CONC1',
    'ASYM', 'M3_LONG', 'M3_TRANS', 'ALPHA', 'DIST', 'CLASS']
df = pd.read_csv("../../../.spool/telescope2.csv", names=COLS, header=None)
df

,LENGTH,WIDTH,SIZE,CONC,CONC1,ASYM,M3_LONG,M3_TRANS,ALPHA,DIST,CLASS
0,28.7967,16.0021,2.6449,0.3918,0.1982,27.7004,22.0110,-8.2027,40.0920,81.8828,g
1,31.6036,11.7235,2.5185,0.5303,0.3773,26.2722,23.8238,-9.9574,6.3609,205.2610,g
2,162.0520,136.0310,4.0612,0.0374,0.0187,116.7410,-64.8580,-45.2160,76.9600,256.7880,g
3,23.8172,9.5728,2.3385,0.6147,0.3922,27.2107,-6.4633,-7.1513,10.4490,116.7370,g
4,75.1362,30.9205,3.1611,0.3168,0.1832,-5.5277,28.5525,21.8393,4.6480,356.4620,g
...,...,...,...,...,...,...,...,...,...,...,...
19015,21.3846,10.9170,2.6161,0.5857,0.3934,15.2618,11.5245,2.8766,2.4229,106.8258,h
19016,28.9452,6.7020,2.2672,0.5351,0.2784,37.0816,13.1853,-2.9632,86.7975,247.4560,h
19017,75.4455,47.5305,3.4483,0.1417,0.0549,-9.3561,41.0562,-9.4662,30.2987,256.5166,h
19018,120.5135,76.9018,3.9939,0.0944,0.0683,5.8043,-93.5224,-63.8389,84.6874,408.3166,h
19019,187.1814,53.0014,3.2093,0.2876,0.1539,-167.3125,-168.4558,31.4755,52.7310,272.3174,h

Separate features in X and target var in y

In [5]:
X = df.drop(columns=['CLASS'])
y = df['CLASS'] == 'g'
X, y

(         LENGTH     WIDTH    SIZE    CONC   CONC1      ASYM   M3_LONG  \
 0       28.7967   16.0021  2.6449  0.3918  0.1982   27.7004   22.0110
 1       31.6036   11.7235  2.5185  0.5303  0.3773   26.2722   23.8238
 2      162.0520  136.0310  4.0612  0.0374  0.0187  116.7410  -64.8580
 3       23.8172    9.5728  2.3385  0.6147  0.3922   27.2107   -6.4633
 4       75.1362   30.9205  3.1611  0.3168  0.1832   -5.5277   28.5525
 ...         ...       ...     ...     ...     ...       ...       ...
 19015   21.3846   10.9170  2.6161  0.5857  0.3934   15.2618   11.5245
 19016   28.9452    6.7020  2.2672  0.5351  0.2784   37.0816   13.1853
 19017   75.4455   47.5305  3.4483  0.1417  0.0549   -9.3561   41.0562
 19018  120.5135   76.9018  3.9939  0.0944  0.0683    5.8043  -93.5224
 19019  187.1814   53.0014  3.2093  0.2876  0.1539 -167.3125 -168.4558

        M3_TRANS    ALPHA      DIST
 0       -8.2027  40.0920   81.8828
 1       -9.9574   6.3609  205.2610
 2      -45.2160  76.9600  256.7880
 3       -7.1513  10.4490  116.7370
 4       21.8393   4.6480  356.4620
 ...         ...      ...       ...
 19015    2.8766   2.4229  106.8258
 19016   -2.9632  86.7975  247.4560
 19017   -9.4662  30.2987  256.5166
 19018  -63.8389  84.6874  408.3166
 19019   31.4755  52.7310  272.3174

 [19020 rows x 10 columns],
 0         True
 1         True
 2         True
 3         True
 4         True
          ...
 19015    False
 19016    False
 19017    False
 19018    False
 19019    False
 Name: CLASS, Length: 19020, dtype: bool)

Random split X/y into 80/20% train/test subsets

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test

(        LENGTH    WIDTH    SIZE    CONC   CONC1      ASYM  M3_LONG  M3_TRANS  \
 18859  57.5644  20.2196  2.6830  0.4232  0.2334  -22.5785 -55.5914   11.8193
 17299  27.7996  14.0561  2.6839  0.4203  0.2308  -16.2866   7.6449   -9.2172
 1017   48.4661  22.7264  2.9530  0.3476  0.2033   31.5776  39.3133   24.8371
 5897   35.7817  24.5512  3.2838  0.2461  0.1288   26.0407  10.1114  -16.3474
 18741  69.6237  33.7912  3.0936  0.1862  0.1004 -105.3180  59.7576   28.5025
 ...        ...      ...     ...     ...     ...       ...      ...       ...
 9225   34.7527  16.3799  2.6212  0.2703  0.1376   21.9455  23.6607    7.2786
 13123  40.7440  16.0635  2.8145  0.3108  0.1668   15.8622  36.5069   -6.2138
 9845   35.8286  16.8952  2.8802  0.3070  0.1746   38.7674  17.2509   11.3048
 10799  20.0986  12.8671  2.4057  0.4558  0.2417   11.5039   9.7434    7.8750
 2732   27.2726  12.6129  2.7288  0.3978  0.2512  -10.4679 -17.5545   -9.9008

          ALPHA      DIST
 18859  26.1085  217.5440
 17299  38.0230   97.7341
 1017    4.8250  266.6650
 5897    1.5398  192.4010
 18741  45.9660  243.1020
 ...        ...       ...
 9225   16.5306  158.1200
 13123  13.3971  284.7751
 9845    0.4720  234.8680
 10799  21.6750  212.0980
 2732    3.7890  185.4310

 [15216 rows x 10 columns],
          LENGTH    WIDTH    SIZE    CONC   CONC1     ASYM   M3_LONG  M3_TRANS  \
 18152   17.1822  15.8933  2.4093  0.6648  0.3864 -16.4698   -3.1572   -3.9904
 2571    33.7228  18.2951  3.0639  0.2676  0.1394  32.5576   18.3456   -4.4196
 12202   61.3737  21.3660  3.2621  0.1816  0.1053  -2.9857   31.7738  -12.2608
 4508    20.0044  11.0652  2.2788  0.6737  0.4500  13.7202   19.7044   -9.9991
 14903   21.2509  10.8657  2.1847  0.5686  0.2843  14.7015   17.9440    7.8355
 ...         ...      ...     ...     ...     ...      ...       ...       ...
 10085   20.4596  10.3072  2.2504  0.5899  0.3567  -5.3761   16.3988   -9.2864
 11931  108.8900  14.0158  2.4502  0.4078  0.2358  57.1641  104.7600   -5.8517
 3309    18.0933  15.3799  2.2978  0.5441  0.3350  -5.8481   15.9569  -10.4222
 3572    20.8833  16.8717  2.5611  0.5687  0.3585  -5.7111   16.1787  -11.0063
 13575  101.4460  58.8768  3.8703  0.1519  0.0760  24.2853  -68.0601  -28.4106

          ALPHA      DIST
 18152  66.9122   61.0713
 2571   11.0782   94.1792
 12202   0.9761  236.9240
 4508   59.4730  197.5840
 14903   7.1820  123.8400
 ...        ...       ...
 10085   3.2940   73.5772
 11931  58.0550   86.6984
 3309   82.7585  137.2320
 3572   17.9992  249.1740
 13575  24.7020  407.4410

 [3804 rows x 10 columns],
 18859    False
 17299    False
 1017      True
 5897      True
 18741    False
          ...
 9225      True
 13123    False
 9845      True
 10799     True
 2732      True
 Name: CLASS, Length: 15216, dtype: bool,
 18152    False
 2571      True
 12202     True
 4508      True
 14903    False
          ...
 10085     True
 11931     True
 3309      True
 3572      True
 13575    False
 Name: CLASS, Length: 3804, dtype: bool)

Alternative split X/y into 80/20% train/test subsets

In [9]:
idx = int(0.8 * len(X))
X_train, X_test, y_train, y_test = X[:idx], X[idx:], y[:idx], y[idx:]
X_train, X_test, y_train, y_test

(         LENGTH     WIDTH    SIZE    CONC   CONC1      ASYM   M3_LONG  \
 0       28.7967   16.0021  2.6449  0.3918  0.1982   27.7004   22.0110
 1       31.6036   11.7235  2.5185  0.5303  0.3773   26.2722   23.8238
 2      162.0520  136.0310  4.0612  0.0374  0.0187  116.7410  -64.8580
 3       23.8172    9.5728  2.3385  0.6147  0.3922   27.2107   -6.4633
 4       75.1362   30.9205  3.1611  0.3168  0.1832   -5.5277   28.5525
 ...         ...       ...     ...     ...     ...       ...       ...
 15211   37.5564   26.6840  2.8752  0.2919  0.1657  -19.7222   16.2184
 15212   69.7657   28.2547  2.8719  0.3534  0.2005   -3.6772  -15.5113
 15213   23.4762    5.4378  2.4755  0.5410  0.3136  -17.4480    8.3159
 15214  129.5264   32.9089  2.9308  0.3107  0.1603   84.3240  129.0292
 15215   55.6151   29.9928  3.0930  0.2408  0.1170   34.3058   29.4904

        M3_TRANS    ALPHA      DIST
 0       -8.2027  40.0920   81.8828
 1       -9.9574   6.3609  205.2610
 2      -45.2160  76.9600  256.7880
 3       -7.1513  10.4490  116.7370
 4       21.8393   4.6480  356.4620
 ...         ...      ...       ...
 15211   16.1335  65.0328  126.4649
 15212   14.7834  74.1830  327.8258
 15213   -3.3953  57.5568  149.0103
 15214  -29.6836  83.8800   74.7435
 15215  -14.2401  38.6667  196.7670

 [15216 rows x 10 columns],
          LENGTH     WIDTH    SIZE    CONC   CONC1      ASYM   M3_LONG  \
 15216   11.7936    9.5614  2.1404  0.7733  0.5149    8.2023  -11.4457
 15217  215.3960  115.4720  3.6592  0.0870  0.0505 -149.2790 -151.9700
 15218   20.7885   12.2333  2.6359  0.4513  0.2781  -27.2563  -28.2044
 15219   28.0059   16.8032  2.7243  0.4340  0.2217   28.7958   20.9818
 15220   49.0702   11.0780  2.8231  0.3696  0.2006   33.0531   37.3822
 ...         ...       ...     ...     ...     ...       ...       ...
 19015   21.3846   10.9170  2.6161  0.5857  0.3934   15.2618   11.5245
 19016   28.9452    6.7020  2.2672  0.5351  0.2784   37.0816   13.1853
 19017   75.4455   47.5305  3.4483  0.1417  0.0549   -9.3561   41.0562
 19018  120.5135   76.9018  3.9939  0.0944  0.0683    5.8043  -93.5224
 19019  187.1814   53.0014  3.2093  0.2876  0.1539 -167.3125 -168.4558

        M3_TRANS    ALPHA      DIST
 15216    3.1777  19.8510  206.5430
 15217 -134.7500  85.9234  269.2730
 15218  -12.7903  16.1131  230.8189
 15219   14.1331  16.6940  218.1340
 15220    6.7326  40.2150  236.1900
 ...         ...      ...       ...
 19015    2.8766   2.4229  106.8258
 19016   -2.9632  86.7975  247.4560
 19017   -9.4662  30.2987  256.5166
 19018  -63.8389  84.6874  408.3166
 19019   31.4755  52.7310  272.3174

 [3804 rows x 10 columns],
 0         True
 1         True
 2         True
 3         True
 4         True
          ...
 15211    False
 15212    False
 15213    False
 15214    False
 15215    False
 Name: CLASS, Length: 15216, dtype: bool,
 15216    False
 15217    False
 15218    False
 15219    False
 15220    False
          ...
 19015    False
 19016    False
 19017    False
 19018    False
 19019    False
 Name: CLASS, Length: 3804, dtype: bool)

Split into 70/15/15% train/val/test subsets

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_val, X_test, y_val, y_test = train_test_split(X_test, y_test, test_size=0.5, random_state=42)
X_train, X_val, X_test, y_train, y_val, y_test

(        LENGTH    WIDTH    SIZE    CONC   CONC1     ASYM  M3_LONG  M3_TRANS  \
 13137  41.8223  14.6490  2.7645  0.4351  0.2279 -32.4169 -43.6565  -10.2209
 5405   23.9751  13.9242  2.3454  0.4831  0.2460 -23.1798 -14.1801    4.9188
 7472   20.1906   7.3261  2.1319  0.7159  0.3948  -1.1041   7.4288   -5.5050
 18928  17.3441   9.3037  2.4752  0.5962  0.3994  20.6682  13.3801   -1.9700
 1385   45.8873  22.8740  3.0925  0.2667  0.1337 -62.7271  25.2934   13.4505
 ...        ...      ...     ...     ...     ...      ...      ...       ...
 11284  31.9212  16.7667  2.6566  0.3837  0.2348   3.7913  21.0170    3.4354
 11964  43.4538  17.6541  2.9965  0.2621  0.1426 -12.4850 -23.2863  -11.3567
 5390   19.9926  12.0866  2.4354  0.5725  0.3982  16.1410  16.3239    9.4374
 860    31.4336  23.2651  2.9340  0.2957  0.1717  -9.1278  19.8518   19.2893
 15795  50.8745  10.5763  2.5244  0.3663  0.1858  63.2724  45.5987  -13.1514

          ALPHA      DIST
 13137  50.4377  101.4760
 5405    4.1125  237.0220
 7472   18.2860   80.6607
 18928  17.7168  224.8004
 1385    4.5210  279.2830
 ...        ...       ...
 11284   3.0450  249.3750
 11964   6.2607  184.7290
 5390   12.7719  193.8930
 860    79.9590   23.2363
 15795  59.6781  158.4316

 [13314 rows x 10 columns],
          LENGTH    WIDTH    SIZE    CONC   CONC1     ASYM   M3_LONG  M3_TRANS  \
 11820   37.3980   9.3411  2.6585  0.4566  0.3019  29.8851   28.3052   -5.6481
 5070    30.2147  22.6783  2.9201  0.3101  0.1905   1.0785   26.0090   -6.2943
 13939   27.2805   0.6171  2.1276  0.7067  0.4439   7.6324   -2.9434  -20.2849
 6674    32.6997  22.1011  2.8570  0.3572  0.2314  22.0794   19.5163  -17.7256
 14670   32.3871   9.7433  2.3632  0.4805  0.2406  20.3923   -2.3033   10.1062
 ...         ...      ...     ...     ...     ...      ...       ...       ...
 6440    43.7592  23.0203  3.2831  0.2001  0.1019 -14.7281   17.2608  -20.0280
 15630  131.4660  65.7777  3.1391  0.1764  0.0897 -75.3996 -139.5350  -57.9790
 9675    21.8522  12.5133  2.5231  0.4378  0.2264  30.4578   -8.9109  -10.1482
 4721    74.1891  33.1618  3.7835  0.1386  0.0784  45.0609   73.5357  -10.6017
 17195   17.9003  10.3235  2.3766  0.7143  0.4433  -7.1192   14.6740   -5.4557

          ALPHA      DIST
 11820   7.9150  166.4880
 5070    3.9190  211.5730
 13939  12.4293  187.4427
 6674   20.4490  153.7560
 14670  46.2192  178.0548
 ...        ...       ...
 6440    5.1670  220.1110
 15630  25.9260  129.8760
 9675    7.9790  198.3050
 4721    7.5825  176.8050
 17195  71.2260  110.1340

 [2853 rows x 10 columns],
          LENGTH    WIDTH    SIZE    CONC   CONC1      ASYM   M3_LONG  \
 13141  147.7970  38.5796  3.3336  0.1725  0.0956 -164.1866  106.6114
 12058   22.0057  11.8316  2.4208  0.5085  0.2751  -27.7526  -10.8543
 15071   21.8272   6.5965  2.1089  0.7315  0.4475   21.8772   14.4944
 17696   47.4705  14.2477  2.7245  0.3287  0.2067  -46.9323  -25.0402
 8956    30.3621  11.6582  2.5629  0.4761  0.2586   16.6826   14.5422
 ...         ...      ...     ...     ...     ...       ...       ...
 4812    23.3523   5.8999  2.2683  0.8086  0.4178   25.2915    8.6832
 15410   19.4502   9.1554  2.3324  0.6651  0.4302   19.7267   14.5702
 3268   102.0770  17.4616  2.9943  0.2979  0.1727 -150.6710   48.1427
 8327    24.5684  20.9799  2.6031  0.3641  0.2232  -13.7276  -19.7249
 10764   20.7049  14.8302  2.4646  0.4768  0.2590   -4.2725   17.1302

        M3_TRANS    ALPHA      DIST
 13141   14.4094  23.9055  285.6875
 12058  -11.3273  29.6990  180.3770
 15071    6.5678  15.2163   48.9611
 17696   -7.4446  20.5946  224.3131
 8956   -11.4294   9.9910  244.2560
 ...         ...      ...       ...
 4812     6.8545  18.9122  191.7640
 15410   -4.3676  36.3441  182.0130
 3268   -16.7787   4.3488  271.3520
 8327    14.0700  13.1428  168.4710
 10764   -3.9602  25.2944  178.5530

 [2853 rows x 10 columns],
 13137    False
 5405      True
 7472      True
 18928    False
 1385      True
          ...
 11284     True
 11964     True
 5390      True
 860       True
 15795    False
 Name: CLASS, Length: 13314, dtype: bool,
 11820     True
 5070      True
 13939    False
 6674      True
 14670    False
          ...
 6440      True
 15630    False
 9675      True
 4721      True
 17195    False
 Name: CLASS, Length: 2853, dtype: bool,
 13141    False
 12058     True
 15071    False
 17696    False
 8956      True
          ...
 4812      True
 15410    False
 3268      True
 8327      True
 10764     True
 Name: CLASS, Length: 2853, dtype: bool)